<div class="text-center jumbtron">
  <% if @images.any? %>
  <% else %>
    <span><%= t('default_message') %></span>
  <% end %>
</div>
<div class="row">
  <div class="col-md-3">
    <ul class="thumb">
    <% @images.each do |image| %>
      <li>
        <%= image_tag image.picture.thumb.url, id: "#{image.id}", style: "cursor: pointer;" %>
      </li>
    <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="content">
      <div id="image"></div>
      <div class="text">
        <div class="title">
        </div>
        <div class="caption">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <ul id="comments"></ul>
  </div>
</div>

<script type="text/javascript">
$(".thumb img").on("click", function(){
  url = "images/" + $(this).attr("id");
  $.ajax({
    url: url,
    type: "GET",
    dataType: "script",
    success: function(data){
    },
    error: function(data){
    }
  });
});
</script>
