<div class="text-center jumbtron">
  <span>ここにファイルが表示される</span>
</div>
<div class="row">
  <div class="col-md-2">
    <%= image_tag @images.picture.url %>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
  </div>
</div>

