<div class="text-center jumbtron">
  <% if @images.any? %>
  <% else %>
    <span>ここにファイルが表示される</span>
  <% end %>
</div>
<div class="row">
  <div class="col-md-2">
    <ul class="thumbnail">
    <% @images.each do |image| %>
      <li><a href="#">
        <%= image_tag image.picture.thumb.url if image.picture? %>
      </a></li>
    <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
  </div>
</div>

