/* header */
body {
  margin-top: 80px;
  padding-top: 20px;
}

.form-group {
  text-align: center;
  li {
    float: left;
    &:first-child {
      border-right: 1px solid #393939;
      padding-right: 4px;
      margin-right: 4px;
    }
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.alert-wrapper {
  position: relative;
}
.alert {
  position: absolute;
  width: 300px;
  border-radius: 8px;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  z-index: 1050;
}
.modal-off {
  visibility: hidden;
  animation: fadeout 5s ease 0s 1 normal;
}
@keyframes fadeout {
  0% { visibility: visible; margin-bottom: 22px; }
  20% { visibility: visible; margin-bottom: 22px; }
  100% { visibility: hidden; margin-bottom: 150px; }
}



/* typography */
h1, h2, h3, h4, h5 {
  line-height: 1;
  margin:0;
}

.input-field {
  text-align: left;
  border: 1px solid #bbb;
  display: block;
  padding: 2px 6px 4px;
  font-weight: normal;
  box-sizing: border-box;
}
input:not([type="submit"]) {
  border: none;
  display: block;
  width: 100%;
  padding: 4px 0;
  box-sizing: border-box;
}

/* images */
.thumb {
  margin: 0;
  li {
    float: left;
    margin: 0 2px;
    list-style: none;
  }
}

#dummy-btn img {
  max-height: 200px;
}
