$('#image').empty().append('<%= j image_tag @image.picture.url, style: "width: 100%" %>')
$('.title').empty().append('<% if @image.title? %><h2><%= j @image.title %></h2><% end %>')
$('.caption').empty().append('<% if @image.caption? %><span><%= j @image.caption %></span><% end %>')
$('#comments').empty().append('<% @image.comments.each do |comment| %><li><% j comment.content %></li><% end %>')
