<header>
  <div class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "ImageUpoader", root_path , class: "navbar-brand" %>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li><%= link_to "Upload", new_image_path %></li>
        </ul>
        <div class="nav navbar-form navbar-right">
          <div class="form-group">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Log in", '#' %></li>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
